@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}


.bloom {
  margin-right: 1500px;
  margin-top: 40px;
  border-radius: 10px;
  padding: 5px;
  border-color: blue;
  width: 230px;
  text-align: center;
  font-size: large;
  background-color: blue;
  color: white;
}

.bloom:hover {
  background-color: grey;
}

.bloom::after {
  top: 700px;
}

.ti {
  position: absolute;
  display: grid;
  column-gap: 750px;
  grid-template-columns: 200px 200px;
  top: 650px;
  left: 300px;
}

.alpha {
  width: 80rem;
  border-top: blue solid 2px;
  border-bottom: blue solid 2px;
  margin-left: 100px;
  margin-right: 200px;
}
